$color-primary: #fd7e14;
$color-dark:#000;
$color-dark-light: #1a1a1a;
$color-dark-grey:#868e96;
$color-dark-grey-light: #adb5bd;
$color-white: #fff;

$font-family: 'Roboto', sans-serif;

$tablet-land: 56em;
$tablet: 43.75em;
$phone:23.12em;