*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    color: $color-dark-grey-light;
    font-weight: 400;
    font-family: $font-family;

    @media (max-width:$tablet){
         font-size: 57%;
      }
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-image:  linear-gradient(to right, rgb(#090614,0.99) 1%, 20% ,rgb(#090614, .88));

}

.padding-l{
    padding-left: 4rem;

    @media (max-width:$tablet-land){
        padding-left: 0rem;
    }
}

.mb-sm{
    margin-bottom: 2rem;
}
.mb-md{
    margin-bottom: 3rem;
}

.mb-lg{
    margin-bottom: 4rem;
}

.mb-hg{
    margin-bottom: 6rem;
}
